.root {
	-fx-focus-color: #ccc;
}

#output-image-pane {

}

.button {
	-fx-background-color: #ccc, linear-gradient(#fff, #e8e8e8);
	-fx-background-insets: 1, 2;
    -fx-background-radius: 5;
    
    -fx-padding: 7px;    
}
.button:hover {
	-fx-background-color: #bbb, linear-gradient(#eee, #d8d8d8);
}
.button:armed {
	-fx-background-color: #aaa, linear-gradient(#ddd, #c8c8c8);
}

.button, .text-field {
	-fx-text-fill: #444;
}

#help-button {
	-fx-font-size: 20;
	-fx-font-weight: bold;
	
	-fx-padding: 5 15;
	-fx-translate-x: -10;
	-fx-translate-y: 10;
}

#response-grid-pane {
	-fx-padding: 10 5 14 15;
	-fx-background-color: #f8f8f8;
}

#response-grid-pane .label {
	-fx-font-size: 15;
}

.cool-label {
	-fx-font-style: italic;
}

#response-grid-pane, #input-hbox {
	-fx-border-color: #ccc;
	-fx-border-width: 1 0 0 0;
	-fx-border-style: solid;
}

#input-hbox {
	-fx-padding: 10;
	-fx-background-color: #eee;
}

#input-text-field {
	-fx-padding: 10;
}

#input-text-field:focused {
    -fx-background-color: -fx-focus-color, -fx-text-box-border, -fx-control-inner-background;
    -fx-background-insets: 1, 1, 2;
    -fx-background-radius: 3.4, 2, 2;
    -fx-prompt-text-fill: transparent;
}

#input-submit-button {
	-fx-padding: 10 20;
}

#input-text-field, #input-submit-button {
	-fx-font-size: 20;
}